*{margin:0;padding:0 ; box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
*::after{box-sizing: border-box;}
*::before {box-sizing: border-box;}
a{text-decoration: none;color:inherit;}
@import './lib/components/style/theme.scss';
pre{
    font-size: 16px;
    font-family: Consolas,monospace;
}
.page{
    background: #ffffff;
    min-height: 100vh;
    &-header{
        box-shadow:0 2px 8px #ffffff
    }
    &-sider{
        border-right: 1px solid $gray-color;
        height: 100%;
        h2{
            padding: 16px;
            font-size: 18px;
        }
        ul{
            min-width: 12em;
            >li{
                
                a{  
                    display: block;
                    height: 40px;
                    color: #333;
                    padding: 8px 16px;
                    &:hover{
                        background: lighten($main-color, 30)
                    }
                    &.active{
                        color: $white-color;
                        border-right:2px solid $main-color;
                        background-color: lighten($main-color, 15)
                    }
                }
            }
        }
    }
    &-main{
        margin-top:24px;
        margin-left: 50px;
        max-width: 1080px;
    }
    &-footer{
        text-align: center;
        font-size: 12px;
        color: #666;
        padding: 16px 0;
        border-top: 1px solid #eeeeee;
    }
}